.event-bar-title {
  font-size: 2.5em;
  font-style: italic;
  padding: 25px 0;
  font-weight: 400;
}

.event-container {
  height: 700px;
  padding: 0 30px;

}

.event {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5em;

  cursor: pointer;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 10px;

}

.event:hover {
  /* border: solid 2px #d3d3d3; */
  background-color: #f0f0f0;
  transition: 0.1s;
}

.selected-event {
  color: rgb(0, 0, 0);
  background-color: #d3d3d3;
  /* box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.641); */
  /* 0 2px 8px rgba(0, 0, 0, 0.184) */
}

/* 看不懂 */
.over-hide {
  /* overflow: hidden; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}