.task-box-header {
  display: flex;
  /* align-items: center; */
  align-items: center;

  padding: 0 50px;
  padding-top: 22px;
}

.task-box-title {
  font-size: 2.5em;
  font-weight: 500;
  padding: 25px 0;

}

.task-box-body {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;
  height: 700px;
}

.remove-button {
  font-size: 1.1em;
  font-style: italic;
  margin-left: 35px;
  padding: 10px 10px;

  background: none;

  transition: 0.1s;
  border: solid 2px #d3d3d3;
  border-radius: 10px;

  outline: none;
}

.remove-button:hover {
  background-color: #d3d3d3;
}

.task-box-body {
  /* background-color: #fff; */
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;

}

.column {
  background-color: #fff;
  width: 300px;
  padding: 17px 25px;
  font-size: 1.4em;
  /* font-weight: 400; */
  transition: 0.1s;
}

.task-container {
  background-color: #525252;
}