.task-box-header {
  display: flex;
  /* align-items: center; */
  align-items: center;

  padding: 0 50px;
  padding-top: 22px;
}

.task-box-title {
  font-size: 2.5em;
  font-weight: 500;
  padding: 25px 0;

}

.task-box-body {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;
  height: 700px;
}

.add-task-button {
  width: 300px;
  font-size: 1.4em;
  margin-top: 15px;
  font-style: normal;
  font-weight: normal;
}

.remove-button {
  font-size: 1.1em;
  font-style: italic;
  margin-left: 35px;
  padding: 10px 10px;

  background: none;

  transition: 0.1s;
  border: solid 2px #d3d3d3;
  border-radius: 10px;

  outline: none;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.184);
}

.remove-button:hover {
  background-color: #d3d3d3;
}

.task-box-body {
  /* background-color: #fff; */
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly
    /* gap: 20px; */
    /* flex-wrap: wrap;会换行 */


}

.column {
  background-color: #ffffff;
  width: 300px;
  padding: 17px 25px;
  font-size: 1.4em;
  /* font-weight: 400; */
  transition: 0.1s;
  border-radius: 10px;
  font-style: italic;
  font-weight: 500;

  flex-shrink: 0;
}


.task-container {
  width: 100%;
  min-height: 20px;
  max-height: 600px;
  overflow: auto;
  font-style: normal;
}

.task {
  background-color: #faf1dc;
  padding: 15px;
  margin-bottom: 18px;
  cursor: pointer;
  border: 1px solid #e6b32e;
  border-radius: 10px;

  position: relative;
}

.task-name {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4em;
  padding-bottom: 4px;
  padding-right: 20px;
  padding-left: 10px;

  position: relative;
}

.task-name::before {
  /* content: '┃'; */
  margin-right: 10px;
  content: '';
  position: absolute;
  /* color: #e6b32e; */
  width: 5px;
  left: 0px;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background: #e6b32e;
}

.task-details {
  font-size: 0.8em;
  color: #838383;
  padding-left: 5px;
  word-wrap: break-word;

}

.remove-bar::before {
  position: absolute;
  top: 14px;
  right: 15px;
  content: "○";
  color: #888;
}

.remove-bar:hover::before {
  content: "●";
  color: red;
  transition: 0.5s;
}